<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href = "{{STATIC_URL}}css/style.css" type="text/css" media="screen">
    <title>HOME</title>
</head>
<body>
<section class="logo">
  <div class="container">
    <div class="row">
    <div class="col-lg-12 justify-content-lg-center d-flex">
        <img class="logopic img-fluid" src="{% static 'images/logo.png' %}">
      <h1>gO bUS</h1>
    </div>
    </div>
  </div>
</section>


  <section class="header">
  <div class="container-fluid justify-content-center">
    <div class="row">
        <div class="col-lg-12 justify-content-center">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">



        <div class="collapse navbar-collapse justify-content-center " id="navbarSupportedContent">
          <ul class="navbar-nav ">

              <li class="nav-item ">
              <a class="nav-link mx-5" href="#">HOME</a>
            </li>

            <li class="nav-item">
                <a class="nav-link mx-5" href="#">Logout</a>
            </li>

          </ul>

        </div>
      </nav>

            <div>
                {{form}}
            </div>


      </div>
    </div>
  </div>
  </section>


<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>